extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, totam? Possimus ipsam, voluptate placeat excepturi inventore iure quod unde voluptas deserunt laboriosam aspernatur ex fuga vero eaque magnam laborum eos?

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, voluptate nisi? Ab quis aperiam molestiae sint eligendi esse illum. Eligendi voluptate doloremque velit repellat nam quos nesciunt laborum saepe qui?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem omnis, doloribus laboriosam atque eveniet molestiae harum veritatis deserunt consectetur corrupti, quas architecto eos, sunt obcaecati laborum! Vitae quidem tempore nulla!

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore, qui illum fuga totam odit aliquam porro assumenda esse iste consequatur accusamus, quos impedit error provident ducimus placeat maxime sapiente!

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore, qui illum fuga totam odit aliquam porro assumenda esse iste consequatur accusamus, quos impedit error provident ducimus placeat maxime sapiente!

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi inventore, qui illum fuga totam odit aliquam porro assumenda esse iste consequatur accusamus, quos impedit error provident ducimus placeat maxime sapiente!
